<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/general.css">
    <link rel="stylesheet" href="../public/css/login.css">
    <link rel="icon" href="../public/img/c2.jpg">
    <title>Đăng nhập</title>
</head>
<body>
    <div class="full-screen">
        <div class="container">
            <div class="header">
                <img src="../public/img/c2.jpg" alt="Logo web">
                <h1>C2 Portal</h1>
            </div>
            <form action="./home.html" method="GET"><!-- need to fix later -->
                <input type="text" placeholder="Tên đăng nhập" name="username" required>
                <input type="password" placeholder="Mật khẩu" name="password" required>
                <button type="submit">Đăng nhập</button>
            </form>
        </div>
    </div>
    <div id="footer">
        <p>Developed by Tyler &#169; 2021</p>
        <div id="social-networking">
            <a class="sns-item" href="https://www.facebook.com/duong2001.ph">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="sns-item" href="https://twitter.com/duongphamit">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="sns-item" href="https://github.com/phduong2001">
                <i class="fa fa-github"></i>
            </a>
            <a class="sns-item" href="mailto:phduongit2k1@gmail.com">
                <i class="	fa fa-mail-forward"></i>
            </a>
        </div>
    </div>
</body>
</html>