html, body {
    background-color: #f0f2f5;
    font-family: 'Open Sans';
}

.full-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.full-screen .container {
    width: 20rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.full-screen .container .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    padding: 1rem;
    background-color: #fff;
}

.full-screen .container .header img {
    width: 30%;
    margin-right: 0.5rem;
}

.full-screen .container .header h1 {
    margin-left: 0.5rem;
    opacity: 0.9;
}

.full-screen .container form {
    margin: 0 auto;
    width: 90%;
    padding: 1rem;
    background-color: #f7f7f7;
}

.full-screen .container form input[type="text"],
.full-screen .container form input[type="password"] {
    box-sizing: border-box;
    display: block;
    border: 1px solid #adadc9;
    margin-bottom: 15px;
    padding: 10px 15px;
    width: 100%;
    font-size: 18px;
}

.full-screen .container form input:focus {
    outline: none !important;
    border-color: #1877F2;
}

.full-screen .container form button {
    background-color: #1877F2;
    border: none;
    color: #fff;
    padding: 15px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
}

@media screen and (max-width: 540px) {
    .full-screen .container {
        width: 17rem;
    }
}