#content {
    padding: 4rem 5%;
}

#content #tab {
    overflow: hidden;
}

#content #tab .tab-link {
    border: none;
    margin: 0;
    padding: 0.75rem 1rem;
    cursor: pointer;
    background-color: #f1f1f1;
}

#content #tab .tab-link:hover {
    background-color: #dfdbdb;
    transition: 0.5s;
}

#content #tab .active {
    background-color: #ccc;
}

#content .tab-content {
    display: none;
    animation: fade-in 0.5s ease-in;
}
  
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}