<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/general.css">
    <link rel="stylesheet" href="../public/css/about.css">
    <link rel="icon" href="../public/img/c2.jpg">
    <title>Về chúng tôi</title>
</head>
<body>
    <div id="navbar">
        <img src="../public/svg/menu.svg" alt="Open menu" id="btn-menu">
        <ul id="navbar-container">
            <li><a href="./work.html">C2G</a></li>
            <li><a href="./member.html">Thành viên</a></li>
            <li><a href="./notification.html">Thông báo</a></li>
            <li><a href="./about.html">Về chúng tôi</a></li>
        </ul>
    </div>
    <figure>
        <img src="../public/img/background.jpg" alt="An image of my team">
    </figure>
    <div id="content">
        <div id="information">
            <h1>Thông tin</h1>
            <ul>
                <li><span>Tên nhóm:</span> C2.</li>
                <li><span>Lớp:</span> 19CTT3A.</li>
                <li><span>Mục đích thành lập:</span> Đồ án cuối kỳ Thực hành Nhập môn Công nghệ thông tin.</li>
                <li><span>Tên đề tài:</span> Being bigger than yourself.</li>
            </ul>
            <a href="https://youtu.be/u0j2zY8RH1E">*Link video báo cáo đồ án</a>
        </div>
        <div id="rule">
            <h1>Qui định</h1>
            <div id="rule-container">
                <div id="principle">
                    <h2>Các nguyên tắc làm việc</h2>
                    <div id="work">
                        <div class="box">
                            <h3 id="must">Phải làm</h3>
                            <ul>
                                <li>Hoàn thành công việc được giao đúng thời hạn.</li>
                                <li>Có trách nhiệm với nhóm.</li>
                                <li>Tuân thủ các quy tác trường, lớp.</li>
                                <li>Có chính kiến riêng.</li>
                                <li>Lắng nghe nghiêm túc và góp ý chân thành.</li>
                            </ul>
                        </div>
                        <div class="box">
                            <h3 id="ban">Không được làm</h3>
                            <ul>
                                <li>Vô trách nhiệm, hời hợt, làm cho có.</li>
                                <li>Gây mất đoàn kết nhóm.</li>
                                <li>Làm ảnh hưởng xấu tới nhóm.</li>
                            </ul>
                        </div>
                        <div class="box">
                            <h3 id="should">Nên làm</h3>
                            <ul>
                                <li>Đóng góp ý kiến nhiệt tình.</li>
                                <li>Góp ý cho các thành viên trong nhóm.</li>
                                <li>Chia sẻ những thủ thuật hay, bài tập hay cho nhóm.</li>
                                <li>Giúp các thành viên trong nhóm trong lĩnh vực mình giỏi.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="plan">
                <h2>Kế hoạch giao tiếp</h2>
                <ul id="discussion">
                    <li><span>Tần suất gặp mặt hàng tuần:</span> Mỗi tuần 1 lần.</li>
                    <li><span>Thời gian:</span> Trưa thứ 4 sau khi học xong.</li>            
                    <li><span>Địa điểm:</span> Phòng tự học tại trường.</li>     
                    <li><span>Thông báo thông qua:</span> Email, group nhóm (Facebook Messenger).</li>
                </ul>
            </div>
        </div>
        <div id="logo">
            <h1>Logo</h1>
            <div id="logo-container">
                <figure>
                    <img src="../public/img/c2.jpg" alt="Image of group's logo" width="200">
                    <figcaption>Logo nhóm</figcaption>
                </figure>
                <ul>
                    <li><b>C2</b>: là tên của nhóm.</li>
                    <li><b>Màu nền cam</b>: sắc cam sặc sỡ, tươi vui, toả ra năng lượng và sự ấm áp, là một màu sắc mang nhiều ý nghĩa. Màu cam thụ hưởng sự mạnh mẽ của màu đỏ và sự hạnh phúc của màu vàng. Nó biểu trưng cho sự đam mê, phấn khởi, hạnh phúc, sáng tạo, quyết đoán, kích thích, thành công, mang biểu tượng của sức mạnh, sự bền bỉ.</li>
                    <li><b>"Being bigger than yourself"</b>: slogan của nhóm đồng thời cũng là đề tài mà nhóm cùng nhau tìm hiểu.</li>
                    <li><b>Con báo bước từ phía sau</b>: cho thấy sự ý chí vượt lên phía trước của nhóm, báo là một loài động vật ăn thịt có tốc độ cao. Đặc biệt là báo đen, biểu tượng cho sức mạnh và tốc độ vượt trội. Loài báo là loài săn mồi dựa vào tốc độ của mình, con mồi yêu thích nó là những động vật ăn cỏ như hưu, nai... đây là cuộc chiến sinh tồn mà tốc độ là thứ dẫn đến kết quả, bên nào có tốc độ nhanh hơn, bên đó sẽ thắng. Vì vậy qua mỗi ngày, chúng phải nâng cao tốc độ của mình lên nếu không muốn bị đào thải. Cũng như con người chúng ta, nếu chúng ta thỏa mãn với những gì ở hiện tại mà không tự phá bỏ giới hạn của mình để vươn lên thì một ngày nào đó, những kẻ đi trước sẽ không ngừng nới rộng khoảng cách, những kẻ đi sau sẽ vượt qua chúng ta. Vì vậy muốn sinh tồn trong cuộc sống này, chúng ta cần không ngừng bứt phá để đạt được những thành công to lớn.</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer">
        <p>Developed by Tyler &#169; 2021</p>
        <div id="social-networking">
            <a class="sns-item" href="https://www.facebook.com/duong2001.ph">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="sns-item" href="https://twitter.com/duongphamit">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="sns-item" href="https://github.com/phduong2001">
                <i class="fa fa-github"></i>
            </a>
            <a class="sns-item" href="mailto:phduongit2k1@gmail.com">
                <i class="	fa fa-mail-forward"></i>
            </a>
        </div>
    </div>
    <script src="../public/js/main.js"></script>
</body>
</html>