<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/general.css">
    <link rel="stylesheet" href="../public/css/home.css">
    <link rel="icon" href="../public/img/c2.jpg">
    <title>Trang chủ</title>
</head>
<body>
    <div id="navbar">
        <img src="../public/svg/menu.svg" alt="Open menu" id="btn-menu">
        <ul id="navbar-container">
            <li><a href="./home.html">C2G</a></li>
            <li><a href="./member.html">Thành viên</a></li>
            <li><a href="./notification.html">Thông báo</a></li>
            <li><a href="./about.html">Về chúng tôi</a></li>
        </ul>
    </div>
    <div id="content">
        <div id="tab">
            <button class="tab-link" id="btn-stream">Quá trình</button>
            <button class="tab-link" id="btn-work">Công việc</button>
        </div>
        <div class="tab-content" id="stream">
            <div id="stream-container">
                <div id="due-work">
                    <h3>Deadline</h3>
                    <ul>
                        <li><a href="#">Nộp video demo</a></li>
                        <li><a href="#">Nộp báo cáo tuần</a></li>
                    </ul>
                    <button type="button">Xem việc...</button>
                </div>
                <div id="feed">
                    <div id="create-post">
                        <form method="POST" enctype="multipart/form-data">
                            <textarea name="post" placeholder="Bạn muốn thảo luận điều gì?"></textarea>
                            <div id="insert">
                                <label for="input-file"><i class="fa"></i> Thêm</label>
                                <input type="file" name="pin-file" id="input-file">
                                <button type="submit">Đăng</button>
                            </div>
                        </form>
                    </div>
                    <div id="list-post">
                        <div class="single-post">
                            <div class="owner">
                                <a href="#"><img src="../data/img/HaiDuong.png" alt="Avatar"></a>
                                <div class="further-info">
                                    <p class="name">Dương Phạm Hải</p>
                                    <p class="time">Hôm qua</p>
                                </div>
                            </div>
                            <div class="main-post">
                                <p>Nội dung bài đăng</p>
                            </div>
                            <hr>
                            <div class="list-comment">
                                <div class="single-comment">
                                    <a href="#"><img src="../data/img/HaiDuong.png" alt="Avatar"></a>
                                    <div class="cmt-body">
                                        <div class="cmt-header">
                                            <p class="cmt-name">Dương Phạm Hải</p>
                                            <p class="cmt-time">17/06/2020 22:27</p>
                                        </div>
                                        <p class="cmt-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                    </div>
                                </div>
                                <div class="single-comment">
                                    <a href="#"><img src="../data/img/HaiDuong.png" alt="Avatar"></a>
                                    <div class="cmt-body">
                                        <div class="cmt-header">
                                            <p class="cmt-name">Dương Phạm Hải</p>
                                            <p class="cmt-time">17/06/2020 22:27</p>
                                        </div>
                                        <p class="cmt-content">Đề nghị các anh đóng góp bình luận</p>
                                    </div>
                                </div>
                            </div>
                            <hr id="hr-list-comment">
                            <div class="my-comment">
                                <img src="../data/img/HaiDuong.png" alt="Avatar">
                                <form class="make-comment" method="POST">
                                    <input type="text" name="comment" placeholder="Để lại bình luận...">
                                    <input type="submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content" id="work">
            <div id="work-container">
                <button type="button" id="btn-create-work"><i class="fa"></i>Tạo</button>
                <ul id="list-create">
                    <li><a href="./create-vote.html"><i class="fa" id="vote"></i>Bình chọn</a></li>
                    <li><a href="./create-material.html"><i class="fa" id="doc"></i>Tài liệu</a></li>
                </ul>
                <div id="list-posts">
                    <div class="material">
                        <div class="summary">
                            <p class="title">Tiêu đề</p>
                            <p class="date-time">Đăng vào 19/06/2021 22:07</p>
                        </div>
                        <div class="detail">
                            <hr>
                            <p class="post">Nội dung bài đăng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <p>Developed by Tyler &#169; 2021</p>
        <div id="social-networking">
            <a class="sns-item" href="https://www.facebook.com/duong2001.ph">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="sns-item" href="https://twitter.com/duongphamit">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="sns-item" href="https://github.com/phduong2001">
                <i class="fa fa-github"></i>
            </a>
            <a class="sns-item" href="mailto:phduongit2k1@gmail.com">
                <i class="fa fa-mail-forward"></i>
            </a>
        </div>
    </div>
    <script src="../public/js/main.js"></script>
    <script src="../public/js/home.js"></script>
    <script src="../public/js/add-file.js"></script>
</body>
</html>