<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/general.css">
    <link rel="stylesheet" href="../public/css/work.css">
    <link rel="icon" href="../public/img/c2.jpg">
    <title>Về chúng tôi</title>
</head>
<body>
    <div id="navbar">
        <img src="../public/svg/menu.svg" alt="Open menu" id="btn-menu">
        <ul id="navbar-container">
            <li><a href="./home.html">C2G</a></li>
            <li><a href="./member.html">Thành viên</a></li>
            <li><a href="./notification.html">Thông báo</a></li>
            <li><a href="./about.html">Về chúng tôi</a></li>
        </ul>
    </div>
    <div id="content">
        <div id="tab">
            <button class="tab-link" id="btn-stream">Quá trình</button>
            <button class="tab-link" id="btn-work">Công việc</button>
        </div>
        <div class="tab-content" id="stream">
            <div id="stream-container">
                <div id="due-work">
                    <h3>Deadline</h3>
                    <ul>
                        <li><a href="#">Nộp video demo</a></li>
                        <li><a href="#">Nộp báo cáo tuần</a></li>
                    </ul>
                    <button type="button">Xem việc...</button>
                </div>
                <div id="feed">
                    <div id="create-post">
                        <form method="POST" enctype="multipart/form-data">
                            <textarea name="post" placeholder="Bạn muốn thảo luận điều gì?"></textarea>
                            <div id="insert">
                                <label for="input-file"><i class="fa"></i> Thêm</label>
                                <input type="file" name="pin-file" id="input-file">
                                <button type="submit">Đăng</button>
                            </div>
                        </form>
                    </div>
                    <div id="list-post">
                        <div class="single-post">
                            <div class="owner">
                                <img src="../data/img/HaiDuong.png" alt="Avatar">
                                <div class="further-info">
                                    <p class="name">Dương Phạm Hải</p>
                                    <p class="time">Hôm qua</p>
                                </div>
                            </div>
                            <div class="main-post">
                                <p>Nội dung bài đăng</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content" id="work">
            This is work
        </div>
    </div>
    <div id="footer">
        <p>Developed by Tyler &#169; 2021</p>
        <div id="social-networking">
            <a class="sns-item" href="https://www.facebook.com/duong2001.ph">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="sns-item" href="https://twitter.com/duongphamit">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="sns-item" href="https://github.com/phduong2001">
                <i class="fa fa-github"></i>
            </a>
            <a class="sns-item" href="mailto:phduongit2k1@gmail.com">
                <i class="	fa fa-mail-forward"></i>
            </a>
        </div>
    </div>
    <script src="../public/js/main.js"></script>
    <script src="../public/js/home.js"></script>
</body>
</html>