<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/general.css">
    <link rel="stylesheet" href="../public/css/member.css">
    <link rel="icon" href="../public/img/c2.jpg">
    <title>Trang chủ</title>
</head>
<body>
    <div id="navbar">
        <img src="../public/svg/menu.svg" alt="Open menu" id="btn-menu">
        <ul id="navbar-container">
            <li><a href="./work.html">C2G</a></li>
            <li><a href="./member.html">Thành viên</a></li>
            <li><a href="./notification.html">Thông báo</a></li>
            <li><a href="./about.html">Về chúng tôi</a></li>
        </ul>
    </div>
    <div id="content">
        <div id="members">
            <h1>Danh sách thành viên</h1>
            <table>
                <tr>
                    <th>STT</th>
                    <th>Họ tên</th>
                    <th>Giới tính</th>
                    <th>Avatar</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Đàm Hồng Đức</td>
                    <td>Nam</td>
                    <td><a href="./profile.html"><img src="../data/img/Duc.png" alt="Duc"></a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Lê Ngọc Du</td>
                    <td>Nam</td>
                    <td><a href="./profile.html"><img src="../data/img/Du.png" alt="Du"></a></td>
                </tr>
            </table>
        </div>
    </div>
    <div id="footer">
        <p>Developed by Tyler &#169; 2021</p>
        <div id="social-networking">
            <a class="sns-item" href="https://www.facebook.com/duong2001.ph">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="sns-item" href="https://twitter.com/duongphamit">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="sns-item" href="https://github.com/phduong2001">
                <i class="fa fa-github"></i>
            </a>
            <a class="sns-item" href="mailto:phduongit2k1@gmail.com">
                <i class="fa fa-mail-forward"></i>
            </a>
        </div>
    </div>
    <script src="../public/js/main.js"></script>
</body>
</html>